html {
    font-family: var(--app-font-family-base);
    font-size: var(--app-font-size-base);
}

body {
    color: var(--app-color-text);
    font-size: var(--app-font-size-base);
    line-height: 1.5;
}