:root {
    --app-font-family-primary: 'Quicksand', Arial, sans-serif;
    --app-font-family-secondary: 'Ubuntu', Arial, sans-serif;
    --app-font-family-base: Arial, sans-serif;

    --app-color-brand-green: #396039;
    --app-color-cream-soft: #f5f5dc;
    --app-color-cream-warm: #faf0e6;
    --app-color-action-green: #008000;

    --app-color-cream-hover: #fae0c6;
    --app-color-cookbook-hover: #607a56;

    --app-page-max-width: 1920px;
}