:root {
    --app-font-family-primary: 'Quicksand', Arial, sans-serif;
    --app-font-family-secondary: 'Ubuntu', Arial, sans-serif;
    --app-font-family-tertiary: 'Mulish', Arial, sans-serif;
    --app-font-family-base: Arial, sans-serif;

    --app-color-brand-green: #396039;
    --app-color-results-card: #dbe0db;
    --app-color-results-card-hover: #c7d3c7;
    --app-color-cream-soft: #f5f5dc;
    --app-color-cream-warm: #faf0e6;
    --app-color-action-green: #008000;
    --app-color-recipe-heart: #008000;
    --app-color-recipe-heart-hover-bg: #e7ece7;
    --app-color-recipe-new-link-hover-bg: #ecf0ec;
    --app-color-recipe-mobile-toggle-border: #9cb09c;
    --app-color-cream-hover: #fae0c6;
    --app-color-cookbook-hover: #607a56;
    --app-color-page-background: #ffffff;
    --app-color-generate-dropdown-hover: #e4e3d8;
    --app-color-generate-title: #1e5515;
    --app-color-generate-text: #10310b;
    --app-color-generate-card: #c4d0c4;
    --app-color-generate-input: #efeadf;
    --app-color-generate-input-warm: #faf0e6;
    --app-color-generate-placeholder: #b4b7a4;
    --app-color-generate-autocomplete: #9ca48e;
    --app-color-generate-caret: #9da691;
    --app-color-generate-suggestion-hover: #fcf6f0;
    --app-color-generate-list-text: #000000;
    --app-color-preferences-card: #d7dfd7;
    --app-color-preferences-tag-active: #b7c5b7;
    --app-color-preferences-counter-hover: #e7ece7;
    --app-color-preferences-counter-active: #c4d0c4;
    --app-color-preferences-icon: #10310b;
    --app-color-generate-next-bg: #369039;
    --app-color-generate-next-text: #faf0e6;
    --app-color-generate-next-hover-bg: #055e05;
    --app-color-generate-next-hover-text: #ffffff;

    --app-page-max-width: 1920px;
}