<main class="cookbook-page" aria-labelledby="cookbook-title">
    <header class="cookbook-page__header">
        <a class="cookbook-page__logo-link" routerLink="/" aria-label="Go to home page">
            <img class="cookbook-page__logo" src="assets/images/svg/green-logo.svg" alt="Code à Cuisine" width="142"
                height="48" />
        </a>

        <a class="cookbook-page__back-link" routerLink="/" aria-label="Back to home page">
            <img class="cookbook-page__back-icon" src="assets/images/svg/back-arrow.svg" alt="" aria-hidden="true" />
            <span>Back</span>
        </a>
    </header>

    <section class="cookbook-page__hero-card" aria-labelledby="cookbook-title">
        <div class="cookbook-page__intro">
            <h1 id="cookbook-title" class="cookbook-page__title">
                Cookbook
            </h1>

            <p class="cookbook-page__description">
                From quick bites to gourmet delights, explore them all in our ultimate cookbook and get inspired for
                your
                next culinary adventure.
            </p>
        </div>

        <section class="cookbook-page__liked-section" aria-labelledby="most-liked-title">
            <div class="cookbook-page__liked-heading-row">
                <h2 id="most-liked-title" class="cookbook-page__liked-title">
                    Most liked recipes
                </h2>

                <img class="cookbook-page__liked-heading-icon" src="assets/images/svg/most-like-heart.svg" alt=""
                    aria-hidden="true" />
            </div>

            <div class="cookbook-page__liked-scroll" aria-label="Most liked recipe list"
                (wheel)="scrollLikedRecipes($event)">
                @for (recipe of mostLikedRecipes(); track recipe.id) {
                <a class="cookbook-page__liked-card" [routerLink]="getRecipeDetailRoute(recipe)">
                    <span class="cookbook-page__liked-meta">
                        <img class="cookbook-page__liked-clock" src="assets/images/svg/clock.svg" alt=""
                            aria-hidden="true" />
                        Cooking time: {{ getCookingTimeLabel(recipe.cookingTime) }}
                    </span>

                    <span class="cookbook-page__liked-name">
                        {{ recipe.title }}
                    </span>

                    <span class="cookbook-page__likes-tag" [attr.aria-label]="recipe.likes + ' likes'">
                        <img class="cookbook-page__likes-icon" src="assets/images/svg/likes-heart.svg" alt=""
                            aria-hidden="true" />
                        <span>{{ recipe.likes }}</span>
                    </span>
                </a>
                }
            </div>
        </section>
    </section>

    <section class="cookbook-page__categories" aria-label="Cuisine categories">
        @for (card of cuisineCards; track card.cuisine) {
        <a class="cookbook-page__category-card" [routerLink]="getCuisineCategoryRoute(card.cuisine)">
            <span class="cookbook-page__category-title">
                {{ card.title }}
                <img class="cookbook-page__category-emoji" [src]="card.emojiSrc" alt="" aria-hidden="true" />
            </span>

            <span class="cookbook-page__category-image-wrap">
                <img class="cookbook-page__category-image" [src]="card.imageSrc" alt="" aria-hidden="true" />
            </span>
        </a>
        }
    </section>

    <div class="cookbook-page__new-link-row">
        <a class="cookbook-page__new-link" routerLink="/generate/ingredients">
            <span class="cookbook-page__new-link-text">Generate new recipe</span>

            <span class="cookbook-page__new-link-icon" aria-hidden="true">
                <svg width="32" height="20" viewBox="0 0 32 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M26 11C26.5523 11 27 10.5523 27 10C27 9.44772 26.5523 9 26 9L26 11ZM5.29289 9.29289C4.90237 9.68342 4.90237 10.3166 5.29289 10.7071L11.6569 17.0711C12.0474 17.4616 12.6805 17.4616 13.0711 17.0711C13.4616 16.6805 13.4616 16.0474 13.0711 15.6569L7.41421 10L13.0711 4.34314C13.4616 3.95262 13.4616 3.31946 13.0711 2.92893C12.6805 2.53841 12.0474 2.53841 11.6569 2.92893L5.29289 9.29289ZM26 10L26 9L6 9L6 10L6 11L26 11L26 10Z"
                        fill="currentColor" />
                </svg>
            </span>
        </a>
    </div>
</main>